In [3]:
from database.TradeHistory import get_session
import pandas as pd
session = get_session()

In [4]:
print('loading')
df = pd.read_sql_query("select * from history", session.bind)
print('loaded')
df.exec_date = pd.to_datetime(df.exec_date)
df = df.set_index('exec_date')
df = df.loc['2016-03':]
df = df[['id', 'price', 'size']]
bench_price = df.price.resample('5Min').mean().fillna(method='ffill')
bench_size = df['size'].resample('5Min').sum().fillna(0)
dfb = pd.DataFrame([bench_price, bench_size]).T

loading
loaded

In [5]:
dfb

                            price        size
exec_date
2016-03-01 00:00:00  4.991371e+04    5.581900
2016-03-01 00:05:00  4.993420e+04    5.040500
2016-03-01 00:10:00  4.997394e+04   15.364827
2016-03-01 00:15:00  5.001271e+04    6.554000
2016-03-01 00:20:00  4.995983e+04    5.598000
2016-03-01 00:25:00  4.995490e+04    3.397000
2016-03-01 00:30:00  4.997905e+04   33.716964
2016-03-01 00:35:00  5.001895e+04   13.828000
2016-03-01 00:40:00  5.005329e+04    4.023432
2016-03-01 00:45:00  5.014410e+04    0.984000
2016-03-01 00:50:00  5.010554e+04    3.321000
2016-03-01 00:55:00  5.006075e+04    0.180000
2016-03-01 01:00:00  5.001947e+04    1.317860
2016-03-01 01:05:00  4.985600e+04    6.997459
2016-03-01 01:10:00  4.986827e+04   22.592540
2016-03-01 01:15:00  4.987229e+04    5.832000
2016-03-01 01:20:00  4.996558e+04    8.929000
2016-03-01 01:25:00  4.994920e+04    1.265564
2016-03-01 01:30:00  4.995285e+04    1.935000
2016-03-01 01:35:00  4.993479e+04    1.136000
2016-03-01 01:40:00  4.986820e+04    3.478000
2016-03-01 01:45:00  4.988254e+04    1.626000
2016-03-01 01:50:00  4.988608e+04    1.472000
2016-03-01 01:55:00  4.991486e+04    1.950000
2016-03-01 02:00:00  4.987750e+04    2.936000
2016-03-01 02:05:00  4.986644e+04    1.580000
2016-03-01 02:10:00  4.990318e+04   29.925220
2016-03-01 02:15:00  4.981482e+04   20.332000
2016-03-01 02:20:00  4.968914e+04   15.949000
2016-03-01 02:25:00  4.970153e+04   34.643000
...                           ...         ...
2018-01-15 22:55:00  1.691696e+06   22.229642
2018-01-15 23:00:00  1.692797e+06    8.689934
2018-01-15 23:05:00  1.687896e+06   35.501805
2018-01-15 23:10:00  1.687282e+06   15.280841
2018-01-15 23:15:00  1.684279e+06   18.165006
2018-01-15 23:20:00  1.677770e+06   73.917207
2018-01-15 23:25:00  1.677575e+06   19.582369
2018-01-15 23:30:00  1.681322e+06   50.808306
2018-01-15 23:35:00  1.678920e+06   29.574786
2018-01-15 23:40:00  1.673304e+06   56.443834
2018-01-15 23:45:00  1.673369e+06   47.355735
2018-01-15 23:50:00  1.672970e+06   34.632562
2018-01-15 23:55:00  1.674706e+06   35.720986
2018-01-16 00:00:00  1.676290e+06   49.231668
2018-01-16 00:05:00  1.671691e+06   31.553440
2018-01-16 00:10:00  1.667855e+06   28.022749
2018-01-16 00:15:00  1.663342e+06   43.732556
2018-01-16 00:20:00  1.664186e+06   15.374123
2018-01-16 00:25:00  1.659446e+06   58.022008
2018-01-16 00:30:00  1.656052e+06   70.463592
2018-01-16 00:35:00  1.653787e+06   40.853823
2018-01-16 00:40:00  1.653653e+06   71.300918
2018-01-16 00:45:00  1.660081e+06   56.095296
2018-01-16 00:50:00  1.660294e+06   59.542996
2018-01-16 00:55:00  1.656771e+06   25.256500
2018-01-16 01:00:00  1.654849e+06   57.705276
2018-01-16 01:05:00  1.659731e+06  128.909802
2018-01-16 01:10:00  1.664989e+06  130.615762
2018-01-16 01:15:00  1.668586e+06  110.718987
2018-01-16 01:20:00  1.672040e+06   30.452812

[197585 rows x 2 columns]

In [6]:
dfb.to_sql('history5min', session.bind, chunksize=1000, if_exists='append')

In [17]:
df.tail(5)

                            id    price   size
exec_date
2018-01-11 14:22:16  111342754  1744900  0.010
2018-01-11 14:22:17  111342758  1744900  0.030
2018-01-11 14:22:21  111342800  1744900  0.059
2018-01-11 14:22:21  111342804  1744900  0.010
2018-01-11 14:22:21  111342807  1744900  0.001